[run]
branch = True
source = src
data_file = .coverage/coverage
omit =
    */tests/*
    */test_*
    */conftest.py
    */old/*
    */__pycache__/*
    */venv/*
    */.venv/*

[report]
skip_empty = True
fail_under = 90
format = markdown
